// Variables
@import "../../../bower_components/bootswatch/sandstone/variables";

$web-font-path: 'https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono';

// Bootstrap
$enable-flex: true;
$enable-shadows: true;
$enable-transitions: true;
@import "../../../bower_components/bootstrap/scss/bootstrap";

// Bootswatch
@import "../../../bower_components/bootswatch/sandstone/bootswatch";

// Plugins
@import "../../../bower_components/components-font-awesome/scss/font-awesome";
@import "../../../bower_components/animate-sass/animate";

.ubuntu-mono {
  font-family: "Ubuntu Mono", sans-serif;
}

$btn-light-color: $gray-lightest;

.btn-light {
  background: $btn-light-color;

  &:hover, &:focus {
    background: lighten($btn-light-color, 2%);
  }
}

.clickable {
  cursor: pointer;
  transition: all .1s ease;

  &:hover, &:focus {
    transform: translateY(-0.2rem);
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background: $gray;
  color: #eee;
  letter-spacing: .1rem;

  a {
    color: #f5f5f5;

    &:hover, &:focus {
      color: #fff;
    }
  }
}